/* ----------------------------------- *\
  #BASE
\* ----------------------------------- */

@font-face {
  font-family: "Dolce Vita";
  src: url("./fonts/dolce_vita_heavy_bold-webfont.woff2") format("woff2"),
    url("./fonts/dolce_vita_heavy_bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/**
 * Document
 */

*,
::before,
::after {
  box-sizing: inherit;
}

* {
  margin: 0;
}

:focus:not(:focus-visible) {
  outline: none;
}

html {
  box-sizing: border-box;
  font-size: 1.5rem;
  line-height: 1.5;
  color: hsl(167, 10%, 10%);
  background-color: hsl(167, 10%, 95%);
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}

/**
 * Sections
 */

h1,
h2,
h3 {
  line-height: calc(1em + 0.5rem);
}

h1 {
  font-size: 3.052em;
  font-size: clamp(2rem, 0.948rem + 5.260000000000001vw, 3.052rem);
}

h2 {
  font-size: 1.563em;
}

h3 {
  font-size: 1.25em;
}

/**
 * Grouping
 */

ol[role="list"],
ul[role="list"] {
  padding-left: 0;
  list-style: none;
}

dl {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 1ch;
}

dt {
  text-align: right;
}

dt::after {
  content: ":";
}

dd {
  grid-column-start: 2;
}

/**
 * Text
 */

a {
  color: hsl(167, 100%, 29%);
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/**
 * Embed
 */

img {
  max-width: 100%;
  height: auto;
}

/**
 * Accessibility
 */

[hidden][aria-hidden="false"]:not(:focus) {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* ----------------------------------- *\
  #COMPOSITION
\* ----------------------------------- */

/**
 * Cluster
 */

.cluster {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.cluster > * + * {
  margin-left: 0.75em;
}

/**
 * Container
 */

.container {
  width: 100%;
  max-width: 48em;
  padding-right: 1.5em;
  padding-left: 1.5em;
  margin-left: auto;
  margin-right: auto;
}

/**
 * Grid
 */

.grid {
  display: grid;
  gap: 1.5em;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
}

/**
 * Stack
 */

.stack > * + * {
  margin-top: 1.5em;
}

/* ----------------------------------- *\
  #UTILITIES
\* ----------------------------------- */

/**
 * Alignment
 */

.text-center {
  text-align: center;
}

/**
 * Colors
 */

.paper-primary {
  color: hsla(0, 0%, 100%, 0.95);
  background-color: hsl(167, 100%, 29%);
}

.paper-neutral {
  background-color: hsl(167, 20%, 85%);
}

/**
 * Spacing
 */

.pad-block-0 {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

/**
 * Typography
 */

.font-text {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text",
    "Times New Roman", serif;
}

.font-display {
  font-family: "Dolce Vita", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  text-transform: uppercase;
}

/* ----------------------------------- *\
  #BLOCKS
\* ----------------------------------- */

/**
 * Site header
 */

.site-head a {
  color: inherit;
  text-decoration: none;
}

.site-head a:hover {
  text-decoration: underline;
}

.site-logo {
  line-height: 1;
  width: 1em;
  height: 100%;
  fill: currentColor;
  position: relative;
  bottom: -4px;
}

/**
 * Site content
 */

.site-content p,
.site-content ol,
.site-content ul {
  max-width: 60ch;
  margin-left: auto;
  margin-right: auto;
}

/*
.site-content ol,
.site-content ul {
  padding-left: 0;
}
*/

.site-content img {
  max-width: 50%;
  float: right;
  clear: both;
  margin-left: 0.75em;
}

/**
 * Site footer
 */

.site-foot .container {
  max-width: max-content;
}
