/* ----------------------------------- *\
  #BASE
\* ----------------------------------- */

/**
 * Global
 */

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text',
    'Times New Roman', serif;
  line-height: 1.5;
  color: #14141b;
  background-color: #f9fafb;
  font-size: 1.5rem;
}

html:focus-within {
  scroll-behavior: smooth;
}

/**
 * Text
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1,
h2,
h3 {
  line-height: calc(1em + 0.5rem);
}

h1 {
  font-size: 3.052em;
}

h2 {
  font-size: 1.563em;
}

h3 {
  font-size: 1.25em;
}

ul[role='list'] {
  padding-left: 0;
  list-style: none;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

/**
 * Accessibility
 */

[hidden][aria-hidden='false']:not(:focus) {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* ----------------------------------- *\
  #COMPOSITION
\* ----------------------------------- */

/**
 * Container
 */

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 70ch;
  max-width: min(70ch, 100% - 1em);
}

/**
 * Cover
 */

.cover {
  display: flex;
  flex-direction: column;
  min-height: 30vh;
}

/**
 * Stack
 */

.stack > * + * {
  margin-top: 1.5em;
}

/* ----------------------------------- *\
  #UTILITIES
\* ----------------------------------- */

/**
 * Alignment
 */

.left {
  float: left;
  margin-right: 0.75em;
}

.text-center {
  text-align: center;
}

/**
 * Colors
 */

.shade {
  background-color: hsla(0, 0%, 0%, 0.05);
}

/**
 * Flexbox
 */

.justify-center {
  justify-content: center;
}

/**
 * Sizing
 */

.square {
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

/**
 * Spacing
 */

.pad-block-01 {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-block: 0.75em;
}

/* ----------------------------------- *\
  #BLOCKS
\* ----------------------------------- */

/**
 * Contact
 */

.contact {
  column-gap: 1ch;
  display: grid;
  grid-template-columns: max-content auto;
}

.contact-label {
  text-align: right;
}

.contact-label::after {
  content: ":";
}

.contact-item {
  grid-column-start: 2;
}

/**
 * Nav
 */

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.nav-item + .nav-item {
  margin-left: 0.75em;
}

.nav-link {
  color: inherit;
  text-decoration: none;
}

/**
 * Site header
 */

.site-head {
  border-top: 6px double currentColor;
  border-bottom: 6px double currentColor;
  margin-top: 1.5em;
}