---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import config from "../content/config/config.json";

interface Props {
  title: string;
  description: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description } = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title} | {config.site.title}</title>
<meta name="description" content={description || config.site.description} />
<link rel="icon" href="/img/favicon.ico" sizes="any" />
<link rel="icon" href="/img/icon.svg" type="image/svg+xml" />
<link rel="apple-touch-icon" href="/img/apple-touch-icon.png" />
<link rel="canonical" href={canonicalURL} />
<link rel="manifest" href="/manifest.webmanifest" />
<link
  rel="preload"
  href="/fonts/dolce_vita_heavy_bold-webfont.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>

<ClientRouter />
