---
import config from "../content/config/config.json";
---

<footer id="connect" class="[ site-foot ] [ paper-neutral ]" role="contentinfo">
  <div class="[ container stack ] [ pad-block-0 ]">
    <h2 class="font-display scale-2 text-center">Connect</h2>
    <dl>
      {
        config.connect.map(({ platform, title, url }) => (
          <>
            <dt>{platform}</dt>
            <dd>
              <a href={url}>{title}</a>
            </dd>
          </>
        ))
      }
    </dl>
  </div>
</footer>
