---
import config from "../content/config/config.json";
---

<nav role="navigation">
  <ul class="cluster" role="list">
    {config.menu.map(({ title, url }) => <a href={url}>{title}</a>)}
  </ul>
</nav>
