---
const { title } = Astro.props;

const slugify = (text: string) =>
  text
    .toString()
    .toLowerCase()
    .trim()
    .replace(/\s+/g, "-") // Replace spaces with -
    .replace(/[^\w\-]+/g, "") // Remove all non-word chars
    .replace(/\-\-+/g, "-"); // Replace multiple - with single -
---

<section id={slugify(title)}>
  <div class="container clearfix stack">
    <h2 class="font-display scale-2 text-center">{title}</h2>
    <slot />
  </div>
</section>
